.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.root {
    -fx-background-color: #d8f3dc;
    -fx-font-family: "Caveat Brush";
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #95d5b2;
    -fx-text-fill: #1b4332;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #74c69d;
}

/* Style for the title */
.title-label {
    -fx-font-family: "Caveat Brush";
    -fx-font-size: 40px;
}

.button-text {
    -fx-font-family: "verdana";
    -fx-font-size: 16px;
}

.main-text {
    -fx-font-family: "verdana";
    -fx-font-size: 16px;
}

.text-area {
    -fx-control-inner-background: #F2FFF4;
    -fx-control-inner-background-insets: 0;
    -fx-border-color: #88bf89;
    -fx-border-width: 2;
    -fx-text-fill: #333333;
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-max-width: 600px;
}
