.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.root {
    -fx-background-color: #d8f3dc;
    -fx-font-family: "Caveat Brush";
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #95d5b2;
    -fx-text-fill: #1b4332;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #74c69d;
}

/* Style for the title */
.title-label {
    -fx-font-family: "Caveat Brush";
    -fx-font-size: 40px;
}

.button-text {
    -fx-font-family: "verdana";
    -fx-font-size: 16px;
}

.main-text {
    -fx-font-family: "verdana";
    -fx-font-size: 16px;
}

.text-area {
    -fx-control-inner-background: #F2FFF4;
    -fx-control-inner-background-insets: 0;
    -fx-border-color: #88bf89;
    -fx-border-width: 2;
    -fx-text-fill: #333333;
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-max-width: 600px;
}

.entry-box {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-padding: 15;
    -fx-background-insets: 0;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 8, 0.15, 0, 1);

    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.entry-box:hover {
    -fx-background-color: #e9fce9;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0.2, 0, 3);
    -fx-cursor: hand;
}

.entry-box:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.task-title {
    -fx-font-family: "Caveat Brush";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1b4332;
}

.empty-text {
    -fx-font-size: 22px;
    -fx-text-fill: #1b4332;
    -fx-opacity: 0.7;
    -fx-font-family: "Caveat Brush";
}

.arrow {
    -fx-font-size: 22px;
    -fx-text-fill: #1b4332;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-hbar-policy: never;
}



