.root {
    -fx-background-color: #d8f3dc;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #95d5b2;
    -fx-text-fill: #1b4332;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #74c69d;
}
